body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #D8BFD8;
    background-size: cover;
    color: white;
    padding: 20px;
	margin-bottom: 20px;
	margin-top: 15px;
}


.image-section {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 10px;
}

.image-section img {
    width: 100%;
    height: auto;
}

.message-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #D8BFD8;
    color: white;
    cursor: pointer;
}

.poem-photo-section {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.poem-container,
.photo-container {
    box-sizing: border-box;
    width: 48%;
}

.poem-container {
    background-color: #D8BFD8;
    padding: 20px;
    border: 1px solid #ccc;
}

.poem-section {
    margin-bottom: 4em;
}

.poem-section:first-child {
	margin-top: 5em;
}

.poem-section:last-child {
    margin-bottom: 0;
}

.photo-container {
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: auto;
    display: block;
}

.gif-row {
    display: flex;
    justify-content: center;
    align-items: stretch;  /* Ensure each container stretches to the same height */
    min-height: 34em;
	padding-bottom: 20px;
}

.gif-container {
    flex: 1;
    margin: 0 5px;  /* Optional: add some spacing between gifs */
    overflow: hidden;  /* Hide anything outside the container */
}

.gif {
    width: 100%;  /* Make gif fill the container width */
    height: 100%;  /* Make gif fill the container height */
    object-fit: cover;  /* Maintain aspect ratio while covering the container */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
}
